$primary-font-color: #0b3173;
$secondary-font-color: #eaebed;
$background-color: #014421;
$hover-background: #38b649;

@mixin position() {
  margin: 0;
  display: inline-block;
}

body {
  color: $primary-font-color;
  margin: 0;
  font-size: 10px;
  font-family: 'Cormorant Garamond';
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
    body {
      font-size: 22px;
    }
}

h1 {
  @include position();
  color: $secondary-font-color;
  width: 60%;
  padding-left: 40px;
  padding-bottom: 12px;
  font-size: 2em;
  text-shadow: 1px 1px 2px black;
}

nav {
  background-color: $background-color;
  height: 80px;
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;

  ul {
    @include position();
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
    text-align: right;
    width: 100%;
    height: 100%;

    li {
      display: flex;
      justify-content: center;
      width: 100%;
      height: 100%;
      text-align: center;

      a {
        color: $secondary-font-color;
        font-weight: 800;
        text-decoration: none;
        text-shadow: 1px 1px 2px black;
        width: 100%;
        margin: 0;
        padding: 25px 30px;
      }

    }

    li:hover {
      background-color: $hover-background;
    }

    li.selected {
      background-color: $primary-font-color;

      a {
        cursor: default;
      }
    }
  }
}

main {
  width: 90%;
  margin: 150px auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

main.projects {
  margin-top: 0;
  margin-bottom: 150px;
}

div.grid {
  width: 100%;
}

div {
  @include position();
  text-align: justify;
  width: 45%;
}

div.info {
  margin: 0 8% 0 0;
}

div.flex-container {
  width: 100%;
  display: flex;
  justify-content: center;
  font-size: 0.9em;

  img {
    margin: 0 10%;
    border: none;
  }

  img.tic-tac-toe {
    border: none;
    border-top: 10px solid #e63946;
    border-bottom: 10px solid #e63946;
  }

  img.planner {
    border: 1px solid grey;
  }
}

h2 {
  font-size: 2.5em;
  margin: 0;
}

h2.main-heading {
  width: 100%;
  text-align: center;
  padding-top: 120px;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  p {
    width: 90%;
    margin: 25px 0 20px 10%;
  }

  p.link {
    text-align: center;
    margin: 5px 0 5px 10%;
  }

  p.planner {
    margin: 20px 0 25px 10%;
  }
}

h3 {
  text-align: center;
  font-size: 2em;
}

img {
  width: 90%;
  border: 10px solid $primary-font-color;
}

a {
  text-decoration: none;
  color: $background-color;
}

footer {
  background-color: $background-color;
  width: 100%;
  color: white;
  text-align: center;
  padding: 10px;
  position: fixed;
  bottom: 0;
  text-shadow: 1px 1px 2px black;
}

@media only screen and (max-width: 1170px) {
  h1 {
    font-size: 1.5em;
    width: 50%;
  }

  nav ul li a {
    font-size: 1em;
    padding: 25px 0;
  }

  div.info {
    font-size: 0.9em;

    h2 {
      font-size: 2.2em;
    }
  }

  main img {
    width: 100%;
  }

  div.flex-container img {
    width: 90%;
  }
}

@media only screen and (max-width: 1100px) {
  h1 {
    font-size: 1.4em;
    width: 50%;
  }

  nav ul li a {
    font-size: 0.9em;
    padding: 25px 0;
  }

  div.info {
    font-size: 0.7em;

    h2 {
      font-size: 1.7em;
    }
  }
}

@media only screen and (max-width: 860px) {
  h1 {
    font-size: 1.1em;
  }

  main {
    flex-direction: column;
    align-items: center;

    h2 {
      font-size: 1.3em;
    }

    div {
      width: 80%;
      font-size: 0.9em;
    }

    div.info {
      margin: 0;
    }

    div.flex-container {
      display: block;

      section {
        width: 100%;
      }
    }
  }
}

@media only screen and (max-width: 690px), (max-device-width: 480px) {

  nav {
    display: block;
    height: 200px;
    align-items: center;
    padding: 0;

    ul {
      padding: 0;
      display: block;
      height: 40px;
    }

      li {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        padding-left: 40px;
        padding-top: 10px;
        text-align: justify;

        a {
          height: 40px;
          width: 95%;
          text-align: justify;
          font-size: 1.2em;
        }
      }
  }

  h1 {
    font-size: 1.5em;
    text-align: justify;
    width: 95%;
    color: purple;
  }

  h2.main-heading {
    padding-top: 220px;
  }

  main {
    width: 90%;
    margin: 220px auto;
    padding: 0 20px;
    flex-direction: column;
    align-items: center;

    div {
      width: 100%;
      font-size: 1em;
    }
  }

}

@media only screen and (max-width: 486px) {

  footer p {
    font-size: 0.8em;
  }
}
