@use "../partials/pallette";
@use "../partials/breakpoints";

.footer {
  background-color: pallette.$primary-color;
  width: 100%;
  padding: 24px 0;
  position: fixed;
  bottom: 0;
  color: pallette.$tertiary-color;
  font-family: "Oswald", sans-serif;
  text-align: center;
  text-shadow: 1px 1px 2px pallette.$shadow-color;

  .footer__heading {
    margin: 0;
    padding: 0 0 16px;
    font-size: 1.7rem;
    letter-spacing: 0.1rem;

    @include breakpoints.medium-desktop {
      font-size: 1.5rem;
    }

    @include breakpoints.small-desktop {
      font-size: 1.4rem;
    }
  }

  .footer__details {
    display: flex;
    justify-content: center;
    margin: 0;

    @include breakpoints.tablet {
      flex-direction: column;
    }

    .footer__detail {
      margin: 0 20px;
      font-size: 1.1rem;

      @include breakpoints.small-desktop {
        font-size: 0.9rem;
      }

      @include breakpoints.tablet {
        margin: 8px 0;
      }

      .footer__icon {
        font-size: 1.2rem;

        &--rounded {
          position: relative;
          bottom: 1px;
        }
      }

      .footer__link {
        color: pallette.$tertiary-color;

        &:hover {
          color: pallette.$hover-color;
        }
      }
    }
  }
}
