@use "../partials/pallette";
@use "../partials/breakpoints";

.navbar {
  background-color: pallette.$primary-color;
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  height: 70px;
  font-family: "Oswald", sans-serif;
  letter-spacing: 0.1rem;

  @include breakpoints.medium-desktop {
    height: 54px;
  }

  @include breakpoints.small-desktop {
    height: 48px;
  }

  @include breakpoints.phone {
    flex-direction: column;
    height: unset;
  }

  .navbar__heading {
    display: flex;
    align-items: center;
    flex-grow: 1;
    flex-wrap: nowrap;
    margin: 0;
    padding: 8px 0 8px 36px;
    color: pallette.$tertiary-color;
    font-size: 2rem;
    text-align: center;
    text-shadow: 1px 1px 2px black;

    @include breakpoints.medium-desktop {
      font-size: 1.6rem;
    }

    @include breakpoints.small-desktop {
      font-size: 1.3rem;
    }

    @include breakpoints.tablet {
      font-size: 1.1rem;
    }

    @include breakpoints.phone {
      padding: 12px 0;
    }
  }

  .navbar__buttons {
    display: flex;
    justify-content: flex-end;
    list-style-type: none;
    margin: 0;

    @include breakpoints.phone {
      flex-direction: column;
      width: 100%;
      padding: 0;
    }

    .navbar__button {
      width: 200px;
      transition: background-color 0.5s;

      @include breakpoints.tablet {
        width: 132px;
      }

      @include breakpoints.phone {
        width: 100%;
      }

      &--selected {
        background-color: pallette.$secondary-color;

        .navbar__link {
          cursor: default;
        }
      }

      &:not(.navbar__button--selected):hover {
        background-color: pallette.$hover-color;
      }

      .navbar__link {
        display: flex;
        justify-content: center;
        align-items: center;
        color: pallette.$tertiary-color;
        font-weight: 700;
        text-decoration: none;
        text-shadow: 1px 1px 2px black;
        height: 70px;
        margin: 0;
        font-size: 1.2rem;

        @include breakpoints.medium-desktop {
          height: 54px;
          font-size: 1.1rem;
        }

        @include breakpoints.small-desktop {
          height: 48px;
          font-size: 1rem;
        }
      }
    }
  }
}
