@use "../partials/breakpoints";
@use "../partials/shared-styles";

.projects {
  @include shared-styles.main-styles;
  flex-direction: column;

  .projects__heading {
    @include shared-styles.heading-styles(24px);
  }

  .projects__gallery {
    display: grid;
    grid-template: 1fr 1fr / 1fr 1fr;

    @include breakpoints.small-desktop {
      display: flex;
      flex-direction: column;
    }

    .projects__project {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 24px;
      margin: 0 40px 24px;

      @include breakpoints.medium-desktop {
        margin: 0 0 24px;
      }

      @include breakpoints.tablet {
        margin: 0;
      }

      .project__heading {
        margin: 0 0 24px;
        font-size: 2rem;
        text-align: center;
      }

      .project__image-container {
        display: flex;
        justify-content: center;

        .project__image {
          height: 300px;
          margin: 0;
          border: none;

          @include breakpoints.medium-desktop {
            width: 100%;
            height: 400px;
          }
        }
      }

      .project__para {
        @include shared-styles.para-styles;
        width: 540px;
        padding-top: 8px;
        font-size: 1.4rem;

        @include breakpoints.small-desktop {
          width: 800px;
          text-align: center;
        }

        @include breakpoints.tablet {
          width: 100%;
        }

        @include breakpoints.phone {
          padding: 0;
          font-size: 1.2rem;
        }

        &--link-container {
          @include breakpoints.phone {
            font-size: 1.2rem;
          }
        }
      }
    }
  }
}
