@use "../partials/breakpoints";
@use "../partials/shared-styles";

.projects {
  @include shared-styles.main-styles;
  flex-direction: column;

  .projects__heading {
    @include shared-styles.heading-styles(24px);
  }

  .projects__gallery {
    display: grid;
    grid-template: 1fr 1fr / 1fr 1fr;

    @include breakpoints.small-desktop {
      display: flex;
      flex-direction: column;
    }

    .projects__project {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 12px;
      margin-bottom: 48px;

      @include breakpoints.phone {
        padding: 0;
      }

      .project__heading {
        margin: 0 0 24px;
        font-size: 2rem;
        text-align: center;
      }

      .project__image-container {
        display: flex;
        justify-content: center;

        .project__image {
          height: 272px;
          margin: 0;
          border: none;

          @include breakpoints.small-desktop {
            width: 100%;
            height: 400px;
          }
        }
      }

      .project__para {
        @include shared-styles.para-styles;
        width: 540px;
        padding-top: 8px;

        @include breakpoints.small-desktop {
          width: 800px;
          text-align: center;
        }

        @include breakpoints.tablet {
          width: 100%;
        }
      }
    }
  }
}
