@use "../partials/pallette";
@use "../partials/breakpoints";
@use "../partials/shared-styles";

.summary {
  @include shared-styles.main-styles;

  .summary__container {
    display: flex;
    flex-direction: column;
    width: 600px;

    .summary__section {
      padding: 0 0 32px;

      .summary__heading {
        @include shared-styles.heading-styles;
      }

      .summary__para {
        @include shared-styles.para-styles;
      }

      .summary__list {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        list-style-type: none;
        margin: 0;
        padding: 0;

        .summary__item {
          padding: 4px 8px;
        }
      }
    }
  }

  .summary__image {
    margin-left: 36px;
    height: 400px;
    border: 10px solid pallette.$secondary-color;

    @include breakpoints.small-desktop {
      height: 280px;
    }

    @include breakpoints.tablet {
      display: none;
    }
  }
}
