@use "./pallette";
@use "./breakpoints";

@mixin main-styles {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 100px 0 160px;

  @include breakpoints.medium-desktop {
    margin: 84px 0 160px;
  }

  @include breakpoints.small-desktop {
    margin: 84px 0 160px;
  }

  @include breakpoints.tablet {
    margin: 84px 0 260px;
  }

  @include breakpoints.phone {
    margin: 180px 0 248px;
  }
}

@mixin heading-styles($margin-bottom: 16px) {
  margin: 0 0 $margin-bottom;
  text-align: center;
  font-size: 2.5rem;
  line-height: 1;

  @include breakpoints.small-desktop {
    font-size: 2.3rem;
  }
}

@mixin para-styles {
  margin: 28px 0;
  text-align: justify;

  @include breakpoints.small-desktop {
    margin: 16px 0;
  }

  @include breakpoints.phone {
    margin: 16px 0;
  }

  &--link-container {
    margin: 12px 0 0;
    text-align: center;
  }

  .summary__link,
  .project__link {
    text-decoration: none;
    color: pallette.$primary-color;
    transition: color 0.5s;

    &:hover {
      color: pallette.$hover-color;
    }
  }
}
