@use "./pallette";
@use "./breakpoints";

@mixin main-styles {
  display: flex;
  justify-content: center;
  padding: 88px 24px 160px;

  @include breakpoints.tablet {
    padding-bottom: 240px;
  }

  @include breakpoints.phone {
    padding: 208px 24px 240px;
  }
}

@mixin para-styles {
  margin: 8px 0;
  text-align: justify;

  &--link-container {
    margin: 12px 0 0;
    text-align: center;
  }

  a {
    text-decoration: none;
    color: pallette.$primary-color;
    transition: color 0.5s;

    &:hover {
      color: pallette.$hover-color;
    }
  }
}
