.navbar {
  background-color: #014421;
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  font-family: "Oswald", sans-serif;
  letter-spacing: 0.1rem;
}
@media only screen and (max-width: 768px) {
  .navbar {
    flex-direction: column;
  }
}
.navbar .navbar__heading {
  display: flex;
  align-items: center;
  flex-grow: 1;
  margin: 0;
  padding-left: 32px;
  flex-wrap: nowrap;
  color: #eaebed;
  font-size: 1.4rem;
  text-align: center;
  text-shadow: 1px 1px 2px black;
}
@media only screen and (max-width: 992px) {
  .navbar .navbar__heading {
    font-size: 1.2rem;
  }
}
@media only screen and (max-width: 768px) {
  .navbar .navbar__heading {
    padding: 12px 0;
  }
}
.navbar .navbar__buttons {
  display: flex;
  justify-content: flex-end;
  list-style-type: none;
  margin: 0;
}
@media only screen and (max-width: 768px) {
  .navbar .navbar__buttons {
    flex-direction: column;
    width: 100%;
    padding: 0;
  }
}
.navbar .navbar__buttons .navbar__button {
  width: 200px;
  transition: background-color 0.5s;
}
@media only screen and (max-width: 992px) {
  .navbar .navbar__buttons .navbar__button {
    width: 132px;
  }
}
@media only screen and (max-width: 768px) {
  .navbar .navbar__buttons .navbar__button {
    width: 100%;
  }
}
.navbar .navbar__buttons .navbar__button--selected {
  background-color: #0b3173;
}
.navbar .navbar__buttons .navbar__button--selected .navbar__link {
  cursor: default;
}
.navbar .navbar__buttons .navbar__button:not(.navbar__button--selected):hover {
  background-color: #38b649;
}
.navbar .navbar__buttons .navbar__button .navbar__link {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #eaebed;
  font-weight: 700;
  text-decoration: none;
  text-shadow: 1px 1px 2px black;
  height: 48px;
  margin: 0;
  font-size: 1rem;
}

.summary {
  display: flex;
  justify-content: center;
  padding: 88px 24px 160px;
}
@media only screen and (max-width: 992px) {
  .summary {
    padding-bottom: 240px;
  }
}
@media only screen and (max-width: 768px) {
  .summary {
    padding: 208px 24px 240px;
  }
}
.summary .summary__container {
  display: flex;
  flex-direction: column;
  width: 600px;
}
.summary .summary__container .summary__section {
  padding: 0 0 32px;
}
.summary .summary__container .summary__section .summary__heading {
  margin: 0 0 16px;
  text-align: center;
  font-size: 2.5rem;
  line-height: 1;
}
.summary .summary__container .summary__section .summary__para {
  margin: 8px 0;
  text-align: justify;
}
.summary .summary__container .summary__section .summary__para--link-container {
  margin: 12px 0 0;
  text-align: center;
}
.summary .summary__container .summary__section .summary__para .summary__link,
.summary .summary__container .summary__section .summary__para .project__link {
  text-decoration: none;
  color: #014421;
  transition: color 0.5s;
}
.summary .summary__container .summary__section .summary__para .summary__link:hover,
.summary .summary__container .summary__section .summary__para .project__link:hover {
  color: #38b649;
}
.summary .summary__container .summary__section .summary__list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.summary .summary__container .summary__section .summary__list .summary__item {
  padding: 4px 8px;
}
.summary .summary__image {
  margin-left: 36px;
  height: 400px;
  border: 10px solid #0b3173;
}
@media only screen and (max-width: 1200px) {
  .summary .summary__image {
    height: 280px;
  }
}
@media only screen and (max-width: 992px) {
  .summary .summary__image {
    display: none;
  }
}

.projects {
  display: flex;
  justify-content: center;
  padding: 88px 24px 160px;
  flex-direction: column;
}
@media only screen and (max-width: 992px) {
  .projects {
    padding-bottom: 240px;
  }
}
@media only screen and (max-width: 768px) {
  .projects {
    padding: 208px 24px 240px;
  }
}
.projects .projects__heading {
  margin: 0 0 24px;
  text-align: center;
  font-size: 2.5rem;
  line-height: 1;
}
.projects .projects__gallery {
  display: grid;
  grid-template: 1fr 1fr/1fr 1fr;
}
@media only screen and (max-width: 992px) {
  .projects .projects__gallery {
    display: flex;
    flex-direction: column;
  }
}
.projects .projects__gallery .projects__project {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 12px 60px;
}
@media only screen and (max-width: 768px) {
  .projects .projects__gallery .projects__project {
    padding: 0;
  }
}
.projects .projects__gallery .projects__project .project__heading {
  margin: 0 0 24px;
  font-size: 2rem;
}
.projects .projects__gallery .projects__project .project__image-container {
  display: flex;
  justify-content: center;
}
.projects .projects__gallery .projects__project .project__image-container .project__image {
  height: 300px;
  margin: 0;
  border: none;
}
@media only screen and (max-width: 1200px) {
  .projects .projects__gallery .projects__project .project__image-container .project__image {
    height: 240px;
  }
}
@media only screen and (max-width: 992px) {
  .projects .projects__gallery .projects__project .project__image-container .project__image {
    width: 100%;
    height: unset;
  }
}
.projects .projects__gallery .projects__project .project__para {
  margin: 8px 0;
  text-align: justify;
}
.projects .projects__gallery .projects__project .project__para--link-container {
  margin: 12px 0 0;
  text-align: center;
}
.projects .projects__gallery .projects__project .project__para .summary__link,
.projects .projects__gallery .projects__project .project__para .project__link {
  text-decoration: none;
  color: #014421;
  transition: color 0.5s;
}
.projects .projects__gallery .projects__project .project__para .summary__link:hover,
.projects .projects__gallery .projects__project .project__para .project__link:hover {
  color: #38b649;
}

.footer {
  background-color: #014421;
  width: 100%;
  padding: 24px 0;
  position: fixed;
  bottom: 0;
  color: #eaebed;
  font-family: "Oswald", sans-serif;
  text-align: center;
  text-shadow: 1px 1px 2px #000;
}
.footer .footer__heading {
  margin: 0;
  padding: 0 0 16px;
  font-size: 1.4rem;
  letter-spacing: 0.1rem;
}
.footer .footer__details {
  display: flex;
  justify-content: center;
  margin: 0;
}
@media only screen and (max-width: 992px) {
  .footer .footer__details {
    flex-direction: column;
  }
}
.footer .footer__details .footer__detail {
  margin: 0 20px;
  font-size: 1rem;
}
@media only screen and (max-width: 992px) {
  .footer .footer__details .footer__detail {
    margin: 8px 0;
  }
}
.footer .footer__details .footer__detail .footer__icon {
  font-size: 1.2rem;
}
.footer .footer__details .footer__detail .footer__icon--rounded {
  position: relative;
  bottom: 1px;
}
.footer .footer__details .footer__detail .footer__link {
  color: #eaebed;
}
.footer .footer__details .footer__detail .footer__link:hover {
  color: #38b649;
}

@-moz-document url-prefix() {
  html {
    font-size: 18px;
  }
}
body {
  color: #0b3173;
  font-family: "Cormorant Garamond";
  margin: 0;
}
