@use "./partials/pallette";
@use "./modules/navbar";
@use "./modules/summary";
@use "./modules/projects";
@use "./modules/footer";

@-moz-document url-prefix() {
  html {
    font-size: 18px;
  }
}

body {
  color: pallette.$secondary-color;
  font-family: "Cormorant Garamond";
  margin: 0;
}
